body
{
    background-image: url('adminbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1
{
    text-align: center;
    font-size: 40px;
    color:navy;
}
.navigation
{
    text-align: center;
}
a
{
    display: inline-block;
    padding: 8px 16px;
    margin: 10px;
    border: 10px solid navy;
    color:indianred;
    background-color: black;
}
.admin
{
    display: flex;
    gap: 20px;
    width: 150%;
    margin: 100px;
}
.team
{
    background-color:lightslategrey;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}
.team img 
{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
