body
{
    background-image: url('contactbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.navigation
{
    text-align: center;
}
a 
{
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    border: 2px solid gold;
    color: goldenrod;
    background-color: black;
    text-decoration: none;
    
}
h1
{
    color: gold;
    text-align: center;
}
h2{
    color:goldenrod;
    text-align: center;
    font-size: 25px;
}
p
{
    color:aliceblue;
    font-size: 20px;
    text-align: center;
}
footer
{
    background-color:blue;
    text-align: center;
    color: white;
    height: 20px;
    font-size: larger;
}