body
{
    background-image: url('bgimg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
h1
{
    color:goldenrod;
    font-size: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navigation
{
    text-align: center;
}
a
{
    display:inline;
    padding: 8px 16px;
    margin: 5px;
    border: solid 5px;
    color: darkseagreen;
    background-color: black;
}
h2
{
    color: coral;
    padding: 100px;
    font-size: 30px;
}
h3
{
    background-color:lightgreen ;
    padding:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkgreen;
    border: 5px solid darkgreen;
    font-style: italic;
    margin: 20px ;
    border-radius: 5px;
    width: 500px;
    margin-bottom: 100px;
}
