
body
{
    background-image: url('mneubgg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.navigation
{
    text-align: center;
}
a 
{
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    border: 5px solid brown;
    color:coral;
    background-color: black;
    text-decoration: none;
}
h2 {
    text-align: center;
    font-size: 40px;
    color: coral;
}
.menubox {
    display: flex;
    gap: 35px;
    width: 150%;
    margin: 100px;
}

.food {
    background-color: coral;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    
}

.food img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
footer
{
    background-color:blue;
    text-align: center;
    color: white;
    height: 25px;
    font-size: larger;
}
